/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
/* mi pravili */
#card-hover{
    transition: .5s;
}
#card-hover:hover{
    transition: .5s;
    box-shadow: 4px 3px 9px 0px rgba(0,0,0,0.75);
}
#wall-btn{
    padding-top: 7px;
    padding-left: 15px;
    padding-bottom: 1px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    transition: .3s;

}
#wall-btn:hover{
    background-color: lightgrey;
    transition: .3s;
}
#wall-btn h6 span {
    cursor: default;
}
#info-btn{
    padding-top: 7px;
    padding-left: 15px;
    padding-bottom: 1px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    transition: .3s;

}
#info-btn:hover{
    background-color: lightgrey;
    transition: .3s;
}

#info-btn h6 span {
    cursor: default;
}
#members-btn{
    padding-top: 7px;
    padding-left: 15px;
    padding-bottom: 1px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    transition: .3s;

}
#members-btn:hover{
    background-color: lightgrey;
    transition: .3s;
}
#members-btn h6 span {
    cursor: default;
}
#sett-btn{
    padding-top: 7px;
    padding-left: 15px;
    padding-bottom: 1px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    transition: .3s;

}
#sett-btn:hover{
    background-color: lightgrey;
    transition: .3s;
}

#sett-btn h6 span {
    cursor: default;
}

#information {
    margin-top: 15px;
    display: none;
}
#information h3, h6, img{
    text-align: center;
}
#members {
    display: none;
}
.member-card{
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 4px 4px 9px 0px rgba(0,0,0,0.15);
}
.member-card-info{
    margin-top: 5px;
    height: 100px;
}
.member-card-info span{
    font-size: 20px;
    font-weight: bold;
    color: black;
    cursor: default;
}
.member-card-info #role{
    font-size: 16px;
    color: grey;
    font-weight: normal;
    display: block;
}
#addStatus{
    border: none;
    width: 100%;
    font-size: 20px;
    padding-top: 10px;
}
#makeStatusComment{
    border: none;
    width: 100%;
    margin:10px;
    font-size: 15px;
}
#makeStatusComment:focus{
    border-bottom: 1px solid #000;
    transition: .5s;
    width: 100%;
}
.status-action{
    transition: .3s;
    border-top:1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding: 10px;
    margin-bottom: 5px;
}
.status-action:hover{
    background-color: beige;
    transition: .3s;
}
#publish{
    transition: .5s;
    padding: 1px 5px; font-family: 'Ubuntu', sans-serif;
    background-color: transparent;
    border:2px solid green;
    border-radius: 5px;
    color:green;
    margin: 3px;
    font-weight: bold;
}
#publish:hover{
    background-color: green;
    color: white;
    transition: .5s;
}

#publish2{
    transition: .5s;
    padding: 1px 5px; font-family: 'Ubuntu', sans-serif;
    background-color: transparent;
    border:2px solid green;
    border-radius: 5px;
    color:green;
    margin: 3px;
    font-weight: bold;
}
#publish2:hover{
    background-color: green;
    color: white;
    transition: .5s;
}
#click_for_more{
    transition: .2s;
    cursor: default;
}
#click_for_more:hover{
    color: red;
    transition: .2s;
}
#findComm{
    background-color: white;
    background-image: url("searchicon.png");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
}
.join{
    color: white;
    font-weight: bold;
    cursor: default;
    transition: .2s;
}
.join:hover{
    color: #000;
    transition: .2s;
}
#user_mem{
    cursor: default;
    font-weight: bold;
}
#status-mem{
    cursor: default;
    font-style: italic;
    font-size: 12px;
}
#alone{
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
#chats{
    cursor: default;
}
#createChat{
    cursor: default;
}
#plus{
    cursor: default;
}
#messBox{
    height: 500px;
    overflow: hidden;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
@font-face{
    font-family:'Dollie';
    src:url('../fonts/DollieScript_PersonalUse.ttf');
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
